/* styles.css */

.buttonAdd {
    color: white;
    background-color: #0A2168;
    border: 1px solid blue;
    font-size: 10px;
  }
  
  .buttonAdd:hover {
    background-color: #1035A6;
  }
  
  .buttonDelete {
    color: white;
    background-color: #960D0D;
    border: 1px solid red;
    font-size: 10px;
  }
  
  .buttonDelete:hover {
    background-color: #C21111;
  }
  
  .elemento {
    height: 100%;
    width: 95%;
    border: 1px solid #0A2168;
    border-radius: 25px;
    font-size: 12px;
    color: #0A2168;
    box-shadow: 5px 5px 5px #0A2168;
    position: relative;
    text-align: left;
    padding-left: 20px;
  }
  
  .botonBorrar {
    position: absolute;
    top: -8px;
    right: -5px;
  }
  
  .deleteAll {
    margin-top: 10px;
  }