.containerSubject{
    position: absolute;
    background-color: #F7F7F7;
    width: calc(100vw - 17em);
    margin-top: 8.5em;
    margin-left: 17em;
    border-radius: 20px;
  }

  .noFound{
    width: calc(100vw - 17em);
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem
  }

  .common{
    color: white;
    text-align: center;
  }

  .searchBar{
    margin: 1.3em;
    width: 100%;
    align-items: center;
    align-content: center;
    color: #888;
  }

  .search{
    display: flex;
    width: 35%;
    border: 1px solid #888;
    border-radius: 8px;
    margin: auto;
    align-items: center;
  }

  .search input{
    border: none;
    width: 75%;
    padding-left:  2vw;
    background-color: #F7F7F7;
  }

  .search input:focus, .search input:active{
    border: none;
    outline: none;
  }

  .search:focus-within{
    box-shadow: 0 1px 6px 0 #171717;
    border-color: rgba(223,225,229,0);
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow-y: auto;
    height: 62vh;
    padding-bottom: 1vh;
    margin: 2vh 2vw;
  }

  .card{
    width: 95%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: lightgrey;
    box-shadow: 2px 2px 2px 2px #092169ce;
  }

  .tittle{
    background-color: #092169;
  }
  .tittle h4{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .tittle p{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }

  .body{
    background-color: #F7F7F7;
    flex: 5vh;
  }

  .buttons{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 9px;
    display: flex;
    border-top: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 2vh;
  }
  
  .buttons button{
    background-color: #07723a;
  }